@font-face {
    font-family: "GilroyExtraBold";
    src: url("../fonts/web/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/web/gilroyextrabold.woff") format("woff");
   }

@font-face {
    font-family: "GilroyLight";
    src: url("../fonts/web/gilroylight.woff2") format("woff2"),
         url("../fonts/web/gilroylight.woff") format("woff");
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/web/opensans.woff2") format("woff2"),
         url("../fonts/web/opensans.woff") format("woff");
}
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/web/opensanslight.woff2") format("woff2"),
         url("../fonts/web/opensanslight.woff") format("woff");
}

/* body,
ul,
fieldset,
p,
h2, h3, h4 {
    margin: 0;
    padding: 0;
} */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* Шрифты, цвета */

body {
    font-family: "GilroyExtraBold";
    color: black;

    background-color: white;
}

    /*Header*/

.head-nav__logo {
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
}

.head-nav__wrapper {
    background-color: #f7e296;
}

.search-form input::placeholder {
    font-family: "OpenSansLight";
    font-size: 15px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.3);
}

.user-nav__item {
    font-family: "OpenSansLight";
    font-size: 15px;
    line-height: 30px;
}

.head-nav__bottom {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.sub-catalog__list {
    font-family: "OpenSansLight";
    font-size: 15px;
    line-height: 36px;
}

.user-nav__item.logout a {
    opacity: 0.5;
}

    /* Main index*/

.bestseller-slider h3 {
    font-size: 47px;
    line-height: 56px;
}

.bestseller-item__descr {
    font-family: "OpenSansLight";
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}

.bestseller-item__link {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.bestseller-item__features .feature-value {
    font-family: "GilroyLight";
    font-size: 36px;
    line-height: 48px;
}

.bestseller-item__features .feature-name {
    font-family: "OpenSansLight";
    font-size: 13px;
    line-height: 20px;
}

.popular-categories__item {
    font-size: 18px;
    line-height: 24px;
}

.services-item {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

.services-item.active {
    color: #f7e184;
}

.services-descr__title {
    font-size: 47px;
    line-height: 48px;
}

.services-descr__item {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}

.about-us__title,
.contacts__title {
    font-size: 47px;
    line-height: 48px;
}

.about-us__descr,
.contacts__descr {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}

.about-us__item {
    font-size: 16px;
    line-height: 40px;
}

.about-us a,
.contacts a {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

    /* Main catalog */

.category-title {
    font-size: 47px;
    line-height: 48px;
}

.breadcrumbs__item {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
}

.filters h3 {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.filters__item {
    border: none;
}

.filters__item legend {
    font-size: 18px;
    line-height: 24px;
}

.filters__item label {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 14px;
    line-height: 40px;
}

.filters button[type=submit] {
    font-size: 18px;
    text-transform: uppercase;

    border: none;
    background-color: transparent;
}

.sorting h3 {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.sorting__list,
.sorting-order {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
}

.sorting__list .current,
.sorting-order .current {
    color: black;
}

.item-title {
    font-size: 18px;
    line-height: 24px;
}

.item-price {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #464646;
}

.pagination__item {
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
}

.pagination__item.prev,
.pagination__item.current,
.pagination__item.next {
    color: black;
}

    /* Footer */

.footer {
    background-color: #464646;

    font-family: 'OpenSansLight', sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: white;
}

.footer-user-nav__item a,
.footer-nav-social__item a,
.footer-nav-copyright a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-nav__logo {
    font-family: 'GilroyExtraBold';
    font-size: 48px;
    text-transform: uppercase;
    color: #ffc600;
}

.footer-site-nav__item a {
    font-family: 'GilroyExtraBold';
    font-size: 18px;
    line-height: 24px;
    color: white;
}

/* --- */